In [1]:
import pandas as pd
from imblearn.over_sampling import RandomOverSampler
from imblearn.combine import SMOTEENN

In [2]:
data_df = pd.read_csv('data.csv')
data_df.head()

,Bankrupt?,ROA(C) before interest and depreciation before interest,ROA(A) before interest and % after tax,ROA(B) before interest and depreciation after tax,Operating Gross Margin,Realized Sales Gross Margin,Operating Profit Rate,Pre-tax net Interest Rate,After-tax net Interest Rate,Non-industry income and expenditure/revenue,...,Net Income to Total Assets,Total assets to GNP price,No-credit Interval,Gross Profit to Sales,Net Income to Stockholder's Equity,Liability to Equity,Degree of Financial Leverage (DFL),Interest Coverage Ratio (Interest expense to EBIT),Net Income Flag,Equity to Liability
0,1,0.370594,0.424389,0.405750,0.601457,0.601457,0.998969,0.796887,0.808809,0.302646,...,0.716845,0.009219,0.622879,0.601453,0.827890,0.290202,0.026601,0.564050,1,0.016469
1,1,0.464291,0.538214,0.516730,0.610235,0.610235,0.998946,0.797380,0.809301,0.303556,...,0.795297,0.008323,0.623652,0.610237,0.839969,0.283846,0.264577,0.570175,1,0.020794
2,1,0.426071,0.499019,0.472295,0.601450,0.601364,0.998857,0.796403,0.808388,0.302035,...,0.774670,0.040003,0.623841,0.601449,0.836774,0.290189,0.026555,0.563706,1,0.016474
3,1,0.399844,0.451265,0.457733,0.583541,0.583541,0.998700,0.796967,0.808966,0.303350,...,0.739555,0.003252,0.622929,0.583538,0.834697,0.281721,0.026697,0.564663,1,0.023982
4,1,0.465022,0.538432,0.522298,0.598783,0.598783,0.998973,0.797366,0.809304,0.303475,...,0.795016,0.003878,0.623521,0.598782,0.839973,0.278514,0.024752,0.575617,1,0.035490

In [3]:
data_df.columns

Index(['Bankrupt?', ' ROA(C) before interest and depreciation before interest',
       ' ROA(A) before interest and % after tax',
       ' ROA(B) before interest and depreciation after tax',
       ' Operating Gross Margin', ' Realized Sales Gross Margin',
       ' Operating Profit Rate', ' Pre-tax net Interest Rate',
       ' After-tax net Interest Rate',
       ' Non-industry income and expenditure/revenue',
       ' Continuous interest rate (after tax)', ' Operating Expense Rate',
       ' Research and development expense rate', ' Cash flow rate',
       ' Interest-bearing debt interest rate', ' Tax rate (A)',
       ' Net Value Per Share (B)', ' Net Value Per Share (A)',
       ' Net Value Per Share (C)', ' Persistent EPS in the Last Four Seasons',
       ' Cash Flow Per Share', ' Revenue Per Share (Yuan ¥)',
       ' Operating Profit Per Share (Yuan ¥)',
       ' Per Share Net profit before tax (Yuan ¥)',
       ' Realized Sales Gross Profit Growth Rate',
       ' Operating Profit Growth Rate', ' After-tax Net Profit Growth Rate',
       ' Regular Net Profit Growth Rate', ' Continuous Net Profit Growth Rate',
       ' Total Asset Growth Rate', ' Net Value Growth Rate',
       ' Total Asset Return Growth Rate Ratio', ' Cash Reinvestment %',
       ' Current Ratio', ' Quick Ratio', ' Interest Expense Ratio',
       ' Total debt/Total net worth', ' Debt ratio %', ' Net worth/Assets',
       ' Long-term fund suitability ratio (A)', ' Borrowing dependency',
       ' Contingent liabilities/Net worth',
       ' Operating profit/Paid-in capital',
       ' Net profit before tax/Paid-in capital',
       ' Inventory and accounts receivable/Net value', ' Total Asset Turnover',
       ' Accounts Receivable Turnover', ' Average Collection Days',
       ' Inventory Turnover Rate (times)', ' Fixed Assets Turnover Frequency',
       ' Net Worth Turnover Rate (times)', ' Revenue per person',
       ' Operating profit per person', ' Allocation rate per person',
       ' Working Capital to Total Assets', ' Quick Assets/Total Assets',
       ' Current Assets/Total Assets', ' Cash/Total Assets',
       ' Quick Assets/Current Liability', ' Cash/Current Liability',
       ' Current Liability to Assets', ' Operating Funds to Liability',
       ' Inventory/Working Capital', ' Inventory/Current Liability',
       ' Current Liabilities/Liability', ' Working Capital/Equity',
       ' Current Liabilities/Equity', ' Long-term Liability to Current Assets',
       ' Retained Earnings to Total Assets', ' Total income/Total expense',
       ' Total expense/Assets', ' Current Asset Turnover Rate',
       ' Quick Asset Turnover Rate', ' Working capitcal Turnover Rate',
       ' Cash Turnover Rate', ' Cash Flow to Sales', ' Fixed Assets to Assets',
       ' Current Liability to Liability', ' Current Liability to Equity',
       ' Equity to Long-term Liability', ' Cash Flow to Total Assets',
       ' Cash Flow to Liability', ' CFO to Assets', ' Cash Flow to Equity',
       ' Current Liability to Current Assets', ' Liability-Assets Flag',
       ' Net Income to Total Assets', ' Total assets to GNP price',
       ' No-credit Interval', ' Gross Profit to Sales',
       ' Net Income to Stockholder's Equity', ' Liability to Equity',
       ' Degree of Financial Leverage (DFL)',
       ' Interest Coverage Ratio (Interest expense to EBIT)',
       ' Net Income Flag', ' Equity to Liability'],
      dtype='object')

In [4]:
data_df.dtypes.tolist()

[dtype('int64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('int64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('int64'),
 dtype('float64')]

In [5]:
data_df.groupby(by='Bankrupt?').count()

,ROA(C) before interest and depreciation before interest,ROA(A) before interest and % after tax,ROA(B) before interest and depreciation after tax,Operating Gross Margin,Realized Sales Gross Margin,Operating Profit Rate,Pre-tax net Interest Rate,After-tax net Interest Rate,Non-industry income and expenditure/revenue,Continuous interest rate (after tax),...,Net Income to Total Assets,Total assets to GNP price,No-credit Interval,Gross Profit to Sales,Net Income to Stockholder's Equity,Liability to Equity,Degree of Financial Leverage (DFL),Interest Coverage Ratio (Interest expense to EBIT),Net Income Flag,Equity to Liability
Bankrupt?,,,,,,,,,,,,,,,,,,,,,
0,6599,6599,6599,6599,6599,6599,6599,6599,6599,6599,...,6599,6599,6599,6599,6599,6599,6599,6599,6599,6599
1,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,220,220

In [6]:

nunique_values = data_df.nunique()

possible_indicators = nunique_values[nunique_values <= 10].index

# Display the columns that are potential indicators
print(f"Potential indicator variables: {possible_indicators}")

Potential indicator variables: Index(['Bankrupt?', ' Liability-Assets Flag', ' Net Income Flag'], dtype='object')

In [7]:
data_df[' Net Income Flag'].unique()

array([1])

In [8]:
data_df[' Liability-Assets Flag'].unique()

array([0, 1])

In [9]:
data_df.drop(columns=[' Net Income Flag'], inplace=True)

In [10]:
# Define test_df features set.
X = data_df.copy()
X = X.drop(columns=['Bankrupt?'], axis=1)

#X = X[X.columns.tolist()[:-1]]
X.head()

,ROA(C) before interest and depreciation before interest,ROA(A) before interest and % after tax,ROA(B) before interest and depreciation after tax,Operating Gross Margin,Realized Sales Gross Margin,Operating Profit Rate,Pre-tax net Interest Rate,After-tax net Interest Rate,Non-industry income and expenditure/revenue,Continuous interest rate (after tax),...,Liability-Assets Flag,Net Income to Total Assets,Total assets to GNP price,No-credit Interval,Gross Profit to Sales,Net Income to Stockholder's Equity,Liability to Equity,Degree of Financial Leverage (DFL),Interest Coverage Ratio (Interest expense to EBIT),Equity to Liability
0,0.370594,0.424389,0.405750,0.601457,0.601457,0.998969,0.796887,0.808809,0.302646,0.780985,...,0,0.716845,0.009219,0.622879,0.601453,0.827890,0.290202,0.026601,0.564050,0.016469
1,0.464291,0.538214,0.516730,0.610235,0.610235,0.998946,0.797380,0.809301,0.303556,0.781506,...,0,0.795297,0.008323,0.623652,0.610237,0.839969,0.283846,0.264577,0.570175,0.020794
2,0.426071,0.499019,0.472295,0.601450,0.601364,0.998857,0.796403,0.808388,0.302035,0.780284,...,0,0.774670,0.040003,0.623841,0.601449,0.836774,0.290189,0.026555,0.563706,0.016474
3,0.399844,0.451265,0.457733,0.583541,0.583541,0.998700,0.796967,0.808966,0.303350,0.781241,...,0,0.739555,0.003252,0.622929,0.583538,0.834697,0.281721,0.026697,0.564663,0.023982
4,0.465022,0.538432,0.522298,0.598783,0.598783,0.998973,0.797366,0.809304,0.303475,0.781550,...,0,0.795016,0.003878,0.623521,0.598782,0.839973,0.278514,0.024752,0.575617,0.035490

In [11]:
# Define the target set.
y = data_df['Bankrupt?'].ravel()
y[:5]

array([1, 1, 1, 1, 1])

In [26]:
# Import our dependencies
import pandas as pd
import matplotlib as plt
import sklearn as skl
from imblearn.over_sampling import RandomOverSampler
from imblearn.under_sampling import RandomUnderSampler
from imblearn.combine import SMOTEENN

In [13]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [14]:
columns_to_scale = X.columns.tolist()

columns_to_scale.remove(' Liability-Assets Flag')
#columns_to_scale.remove('Sentiment')
#columns_to_scale.remove('Scores')
#columns_to_scale.remove('Sentiment_stop')
#columns_to_scale.remove('Scores_stop')

In [46]:
# Use sklearn to split dataset
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

# Creating a StandardScaler instance.
X_scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler.fit(X_train[columns_to_scale])

ran = RandomUnderSampler(random_state=0)
X_train, y_train = ran.fit_resample(X_train, y_train)

X_train[columns_to_scale] = X_scaler.transform(X_train[columns_to_scale])
X_test[columns_to_scale] = X_scaler.transform(X_test[columns_to_scale])


# Scaling the data.
X_train_scaled = X_scaler.transform(X_train[columns_to_scale])
X_test_scaled = X_scaler.transform(X_test[columns_to_scale])

# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78) 


# Fitting the model
rf_model = rf_model.fit(X_train, y_train)

# Making predictions using the testing data.
predictions = rf_model.predict(X_test)

# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

In [47]:
cm

array([[1417,  230],
       [  10,   48]])

In [48]:
# Displaying results
print("Confusion Matrix")
display(cm)
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

array([[1417,  230],
       [  10,   48]])

Classification Report
              precision    recall  f1-score   support

           0       0.99      0.86      0.92      1647
           1       0.17      0.83      0.29        58

    accuracy                           0.86      1705
   macro avg       0.58      0.84      0.60      1705
weighted avg       0.97      0.86      0.90      1705

In [49]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_train, y_train)

LogisticRegression(random_state=1)

In [50]:
# Making predictions using the testing data.
predictions = model.predict(X_test)

# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)
cm

array([[1395,  252],
       [  15,   43]])

In [51]:
# Displaying results
print("Confusion Matrix")
display(cm)
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

array([[1395,  252],
       [  15,   43]])

Classification Report
              precision    recall  f1-score   support

           0       0.99      0.85      0.91      1647
           1       0.15      0.74      0.24        58

    accuracy                           0.84      1705
   macro avg       0.57      0.79      0.58      1705
weighted avg       0.96      0.84      0.89      1705

In [52]:
from itertools import combinations, product
lr = [0.01, 0.02, 0.001, 0.005, 0.0001]

mf = [5, 10, 15, 20, 25]

md = [3, 5, 10, 20, 30, 50, 80, 100, 120, 150]

n_e = [100, 150, 200, 300]



combos = list(product(lr, mf, md, n_e))

len(combos)

1000

In [56]:
results = {}

# Use sklearn to split dataset
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

# Creating a StandardScaler instance.
X_scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler.fit(X_train[columns_to_scale])

ran = RandomUnderSampler(random_state=0)
X_train, y_train = ran.fit_resample(X_train, y_train)


X_train[columns_to_scale] = X_scaler.transform(X_train[columns_to_scale])
X_test[columns_to_scale] = X_scaler.transform(X_test[columns_to_scale])

from sklearn.ensemble import GradientBoostingClassifier


for combo in combos:


    classifier = GradientBoostingClassifier(n_estimators=combo[3],
    learning_rate=combo[0],
    max_features=combo[1],
    max_depth=combo[2],
    random_state=0)
    classifier.fit(X_train_scaled, y_train.ravel())
    
    # Make predictions on test data
    y_pred = classifier.predict(X_test_scaled)
    
    precision = precision_score(y_test, classifier.predict(X_test_scaled))
    
    recall = recall_score(y_test, y_pred)

    
    results[combo] = {'Training': f"{classifier.score(X_train_scaled, y_train)}",'Precision':precision, 'Recall': recall}

In [60]:
results_df = pd.DataFrame.from_dict(results, orient='index').sort_values(by='Precision', ascending=False)
results_df.head(10)

                            Training  Precision    Recall
0.0001 20 5  200  0.9876543209876543   0.193676  0.844828
             150  0.9876543209876543   0.192913  0.844828
0.0010 25 5  100  0.9907407407407407   0.191406  0.844828
0.0001 20 5  100  0.9876543209876543   0.191406  0.844828
0.0010 25 5  150  0.9876543209876543   0.191406  0.844828
0.0100 25 5  100  0.9938271604938271   0.190661  0.844828
          10 100                 1.0   0.190661  0.844828
0.0001 25 10 200                 1.0   0.190661  0.844828
0.0050 25 5  150  0.9907407407407407   0.190661  0.844828
0.0010 25 5  200  0.9907407407407407   0.190661  0.844828

In [59]:
results_df = pd.DataFrame.from_dict(results, orient='index').sort_values(by='Recall', ascending=False)
results_df.head(10)

                  Training  Precision    Recall
0.0001 25 150 300      1.0   0.187739  0.844828
0.0050 20 100 300      1.0   0.184211  0.844828
0.0010 10 10  100      1.0   0.180812  0.844828
              150      1.0   0.181481  0.844828
              200      1.0   0.182836  0.844828
              300      1.0   0.180812  0.844828
0.0050 20 120 200      1.0   0.186312  0.844828
              150      1.0   0.186312  0.844828
              100      1.0   0.184906  0.844828
          100 200      1.0   0.186312  0.844828

In [55]:
from sklearn.metrics import precision_score, recall_score, f1_score